In [50]:
#Estudo de Regex testando aplicação feita na ASPLAN
import re
lista = ['01/020','oi', '15/2020', 123/4123, '03/2020', "alo", '14/2020', "dificil",'05/2020', '06/2020', '12/2020', 'a/2020', 'v3/2020', '1b/2020', '22/2020', '90/2002', '12/2020', '12/2020', '43/2020', '93/2020', '11/2020', '10/19120', '25/2900', '01/2090', '03/2070', '10/1950', '80/1998', '08/1750', 'a1/2020', '01/1800', '01/2002', '06/2010', '06/2013', '02/2000', '06/2018', ]

regex = '^[0]?([1-9]|^[1][0-2])/[1]?([9][0-9]{2}|[2][0][0-2][0-9])$'

#re.search(regex, lista)
match = [item for item in lista if type(item) == str and re.search(regex, item) is not None]
match

['03/2020',
 '05/2020',
 '06/2020',
 '12/2020',
 '12/2020',
 '12/2020',
 '11/2020',
 '10/1950',
 '01/2002',
 '06/2010',
 '06/2013',
 '02/2000',
 '06/2018']

In [62]:
lista1 = ['01/020','oi', '15/2020', 123/4123, '03/2020', "alo", '14/2020', "dificil",'05/2020', '06/2020', '12/2020', 'a/2020', 'v3/2020', '1b/2020', '22/2020', '90/2002', '12/2020', '12/2020', '43/2020', '93/2020', '11/2020', '10/19120', '25/2900', '01/2090', '03/2070', '10/1950', '80/1998', '08/1750', 'a1/2020', '01/1800', '01/2002', '06/2010', '06/2013', '02/2000', '06/2018', ]

regex1 = '^[0]?([1-9]|^[1][0-2])/[1]?([9][0-9]{2}|[2][0][0-2][0-9])$'
match1 = [re.sub(regex1, "Kyogre", i) for i in lista1 if type(i) == str]

display(match1)

['01/020',
 'oi',
 '15/2020',
 'Kyogre',
 'alo',
 '14/2020',
 'dificil',
 'Kyogre',
 'Kyogre',
 'Kyogre',
 'a/2020',
 'v3/2020',
 '1b/2020',
 '22/2020',
 '90/2002',
 'Kyogre',
 'Kyogre',
 '43/2020',
 '93/2020',
 'Kyogre',
 '10/19120',
 '25/2900',
 '01/2090',
 '03/2070',
 'Kyogre',
 '80/1998',
 '08/1750',
 'a1/2020',
 '01/1800',
 'Kyogre',
 'Kyogre',
 'Kyogre',
 'Kyogre',
 'Kyogre']

In [69]:
#Estudo próprio sobre rotacionamento de matrizes.

lista2 = [[1,2,3], [4,5,6], [7,8,9]]

display(lista2[0])
display(lista2[1])
display(lista2[2])

[1, 2, 3]

[4, 5, 6]

[7, 8, 9]

In [70]:
lista2 = [[3,6,9], [2,5,8], [1,4,7]]

display(lista2[0])
display(lista2[1])
display(lista2[2])

[3, 6, 9]

[2, 5, 8]

[1, 4, 7]

In [6]:
lista2 = [[1,2,3], [4,5,6], [7,8,9]]

lista3=[]
for j in range(len(lista2)):
    print(j)
    for i in range(j+1):
        lista3.append(lista2[j][i])

#lista3 = [lista2[j][i] for j in range(len(lista2)) for i in lista2]
lista3

0
1
2

[1, 4, 5, 7, 8, 9]

,debito,credito,movimento,debito.1,credito.1,movimento.1,debito.2,credito.2,movimento.2
0,1,2,3,4,5,6,7,8,9
1,11,12,13,14,15,16,17,18,19

Index(['debito', 'credito', 'movimento', 'debito.1', 'credito.1',
       'movimento.1', 'debito.2', 'credito.2', 'movimento.2'],
      dtype='object')

AttributeError: 'Tabela' object has no attribute 'extract'